.metadata/.plugins/org.eclipse.core.resources/.history/16/9045ff6aacbc001618d6b86198a284f4
.metadata/.plugins/org.eclipse.jdt.core/1043097727.index
.metadata/.plugins/org.eclipse.jdt.core/1045067295.index
.metadata/.plugins/org.eclipse.jdt.core/1181327837.index
.metadata/.plugins/org.eclipse.jdt.core/1260374096.index
.metadata/.plugins/org.eclipse.jdt.core/1263109262.index
.metadata/.plugins/org.eclipse.jdt.core/1297580988.index
.metadata/.plugins/org.eclipse.jdt.core/1309928567.index
.metadata/.plugins/org.eclipse.jdt.core/1326580853.index
.metadata/.plugins/org.eclipse.jdt.core/1375248368.index
.metadata/.plugins/org.eclipse.jdt.core/1416830755.index
.metadata/.plugins/org.eclipse.jdt.core/1417389904.index
.metadata/.plugins/org.eclipse.jdt.core/1453109362.index
.metadata/.plugins/org.eclipse.jdt.core/1463259891.index
.metadata/.plugins/org.eclipse.jdt.core/1499875616.index
.metadata/.plugins/org.eclipse.jdt.core/1543661899.index
.metadata/.plugins/org.eclipse.jdt.core/1628089938.index
.metadata/.plugins/org.eclipse.jdt.core/1714679180.index
.metadata/.plugins/org.eclipse.jdt.core/1731134189.index
.metadata/.plugins/org.eclipse.jdt.core/1740872384.index
.metadata/.plugins/org.eclipse.jdt.core/1746861305.index
.metadata/.plugins/org.eclipse.jdt.core/1752593569.index
.metadata/.plugins/org.eclipse.jdt.core/1763406387.index
.metadata/.plugins/org.eclipse.jdt.core/1763497673.index
.metadata/.plugins/org.eclipse.jdt.core/1854222327.index
.metadata/.plugins/org.eclipse.jdt.core/1854609564.index
.metadata/.plugins/org.eclipse.jdt.core/1901452023.index
.metadata/.plugins/org.eclipse.jdt.core/1915017239.index
.metadata/.plugins/org.eclipse.jdt.core/1927192158.index
.metadata/.plugins/org.eclipse.jdt.core/1928179758.index
.metadata/.plugins/org.eclipse.jdt.core/1968882191.index
.metadata/.plugins/org.eclipse.jdt.core/1973843283.index
.metadata/.plugins/org.eclipse.jdt.core/1988229867.index
.metadata/.plugins/org.eclipse.jdt.core/2037312343.index
.metadata/.plugins/org.eclipse.jdt.core/218553738.index
.metadata/.plugins/org.eclipse.jdt.core/2413710311.index
.metadata/.plugins/org.eclipse.jdt.core/2483765885.index
.metadata/.plugins/org.eclipse.jdt.core/2509811632.index
.metadata/.plugins/org.eclipse.jdt.core/2535166167.index
.metadata/.plugins/org.eclipse.jdt.core/2586964778.index
.metadata/.plugins/org.eclipse.jdt.core/2670437703.index
.metadata/.plugins/org.eclipse.jdt.core/2688567704.index
.metadata/.plugins/org.eclipse.jdt.core/2696433231.index
.metadata/.plugins/org.eclipse.jdt.core/2706493787.index
.metadata/.plugins/org.eclipse.jdt.core/2752852418.index
.metadata/.plugins/org.eclipse.jdt.core/2755326526.index
.metadata/.plugins/org.eclipse.jdt.core/283005107.index
.metadata/.plugins/org.eclipse.jdt.core/2865680625.index
.metadata/.plugins/org.eclipse.jdt.core/2866154576.index
.metadata/.plugins/org.eclipse.jdt.core/2873934814.index
.metadata/.plugins/org.eclipse.jdt.core/2882695569.index
.metadata/.plugins/org.eclipse.jdt.core/2895990829.index
.metadata/.plugins/org.eclipse.jdt.core/290167522.index
.metadata/.plugins/org.eclipse.jdt.core/2920302435.index
.metadata/.plugins/org.eclipse.jdt.core/2932026409.index
.metadata/.plugins/org.eclipse.jdt.core/2997081707.index
.metadata/.plugins/org.eclipse.jdt.core/3023681961.index
.metadata/.plugins/org.eclipse.jdt.core/302452586.index
.metadata/.plugins/org.eclipse.jdt.core/3028879811.index
.metadata/.plugins/org.eclipse.jdt.core/3030748270.index
.metadata/.plugins/org.eclipse.jdt.core/3041131674.index
.metadata/.plugins/org.eclipse.jdt.core/3051585710.index
.metadata/.plugins/org.eclipse.jdt.core/307633381.index
.metadata/.plugins/org.eclipse.jdt.core/3135841177.index
.metadata/.plugins/org.eclipse.jdt.core/316549500.index
.metadata/.plugins/org.eclipse.jdt.core/3236613618.index
.metadata/.plugins/org.eclipse.jdt.core/3289300869.index
.metadata/.plugins/org.eclipse.jdt.core/3305734410.index
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/urbanart-controller.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/urbanart-webservice.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/urbanart.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/1000740701.index
.metadata/.plugins/org.eclipse.jdt.core/1031062034.index
.metadata/.plugins/org.eclipse.jdt.core/1035632408.index
.metadata/.plugins/org.eclipse.jdt.core/1042433188.index
.metadata/.plugins/org.eclipse.jdt.core/3292464319.index
.metadata/.plugins/org.eclipse.jdt.core/337125941.index
.metadata/.plugins/org.eclipse.jdt.core/3414588914.index
.metadata/.plugins/org.eclipse.jdt.core/3423862868.index
.metadata/.plugins/org.eclipse.jdt.core/3464884810.index
.metadata/.plugins/org.eclipse.jdt.core/3604365735.index
.metadata/.plugins/org.eclipse.jdt.core/3621088876.index
.metadata/.plugins/org.eclipse.jdt.core/3697252353.index
.metadata/.plugins/org.eclipse.jdt.core/3760452257.index
.metadata/.plugins/org.eclipse.jdt.core/3786202939.index
.metadata/.plugins/org.eclipse.jdt.core/3816164716.index
.metadata/.plugins/org.eclipse.jdt.core/3816485024.index
.metadata/.plugins/org.eclipse.jdt.core/3898642951.index
.metadata/.plugins/org.eclipse.jdt.core/3958339543.index
.metadata/.plugins/org.eclipse.jdt.core/4007569061.index
.metadata/.plugins/org.eclipse.jdt.core/4016661163.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/
RemoteSystemsTempFiles/.project
